# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set tab width to 4 spaces
[*.c]
indent_style = space
indent_size = 4

[*.h]
indent_style = space
indent_size = 4
